.main-admin-dona {
    display: flex;
}

.right-container {
    display: flex;
    justify-content: end;
    width: 40%;
}
#main-img {
    width: 65%;
}
.navMenu {
    display: flex;
    align-items: top;
    margin-top: 2.5%;
    margin-right: 3%;
    margin-left: 3%;
    margin-left: 2%;
}

.logo-container {
    align-items: center;
    width: 17%;
    display: flex;
}

.logo-container img {
    width: 45%;
    margin-right: 5%;
}

.logo-container p {
    font-size: 1.2em;
    font-weight: bold;
    color: #6852EF;
    line-height: 1;
    width: 20%;
}

.admin-menus-container {
    width: 83%;
    text-align: end;
}

.admin-main-items-menu {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.admin-main-a-menu {
    text-decoration: none;
    color: #F54242;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    border-radius: 3em;
    padding: 0.4em 1em;
}

.admin-ul-sesion {
    margin-left: -70px;
    list-style-type: none;
    position: absolute;
    background-color: transparent;
    display: none;
}

.admin-ul-dona {
    text-align: center;
    list-style-type: none;
    position: absolute;
    background-color: transparent;
    display: none;
}

.admin-items-a-list {
    text-decoration: none;  
    color: #7B7792;
    font-weight: bold;
    white-space: nowrap;
}

.admin-main-items-menu img{
    vertical-align: middle;
    width: 44px;
}

/* Escuchadores */
.admin-main-a-menu:hover {
    color:#F54242;
    background-color: #F4F4F4
}

.admin-main-a-menu:active {
    color: white;
    background-color: #6852EF;
}   

.admin-main-items-menu:hover .admin-ul-sesion {
    display: block;
}

.admin-main-items-menu:hover .admin-ul-dona {
    display: block;
}

.admin-items-a-list:hover{
    color: black;
}