.admin-main-div {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.top {
    top: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    transition: .4s;
}

.close {
    top: 5em;
    left: 70%;
}

.translate {
    transform: translateY(-100%);
}

.btn-primary {
    margin-inline: 3%;
}

/* COLOR DE BOTÓN SELECCIONADO (INICIO) */
#admin-main-a-voluntarios {
    background-color: #6852EF;
    color: white;
}

#admin-item-a-registro2 {
    color: black;
}
/* COLOR DE BOTÓN SELECCIONADO (FIN) */